body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: black;
}

header{
  border-bottom-right-radius: 20px;
  background-color: steelblue;
}
footer {
  border-top-left-radius: 20px;
  position:absolute;
  bottom:0;
  width:100%;
  background-color: rgb(14, 79, 133);
}
.footer_links{
  text-align: right;
  margin-right: 20px;
  text-align: end;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.copy{
  padding-left: 2%;
  color: black;
}
